[submodule "only-tokens-smart-contracts"]
	path = only-tokens-smart-contracts
	url = https://github.com/patiee/only-tokens-smart-contracts.git
[submodule "only-tokens-dashboard"]
	path = only-tokens-dashboard
	url = https://github.com/patiee/only-tokens-dashboard.git
[submodule "only-tokens-swap"]
	path = only-tokens-swap
	url = git@github.com:patiee/only-tokens-swap.git
[submodule "only-tokens-wallet"]
	path = only-tokens-wallet
	url = git@github.com:patiee/only-tokens-wallet.git
